@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: 	#eaeded;
    font-family: 'Raleway', sans-serif;
}

/*-------header and navbar: ***DESKTOP****----------*/

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #131921;
    height: 4rem;
}

.fa-bars {
    font-size: 2.5rem;
    height: 2.4rem;
    width: 2.8rem;
    border: solid 1px #999999;
    border-radius: .2rem;
    padding: .4rem;
    margin-left: .5rem;
    color: #ffffff;
}

header img.logo{
    width: 6rem;
    align-items: center;
    margin: .5rem;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    flex-basis: 70rem;
    border: none;
    background-color: #ffffff;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    text-indent: 1rem;
}

input:focus{
    outline: none;
}

span{
    border: none;
}

span button{
    border: none;
}

.all-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #999999;
    width: 3.4rem;
    height: 2.5rem;
    margin-left: 4rem;
    background: #f3f3f3;
    border-right: solid .3px #999999;
    border-radius: 10% 0% 0% 10%;
    box-sizing: border-box;
    font-size: .8rem;
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    min-width: 3.4rem;
    height: 2.5rem;
    border-radius: 0% 10% 10% 0%;
    background: #febd69;
    margin-right: 1rem;
}

.fa-search{
    color: #272727;
    font-size: 1em;
}

.nav-bar{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 3rem;
    width: 30rem;
    padding: 0;
    margin: 0;
}


.nav_link1{
    list-style: none;
    display: inline;
    position: absolute;
    word-wrap: break-word;
    /*border: solid 1px #999999;*/
    height: 3rem;
    width: 8rem;
    padding: .4rem;
    margin-left: 6rem;
}

.nav_link2{
    list-style: none;
    display: inline;
    position: absolute;
    word-wrap: break-word;
    /*border: solid 1px #999999;*/
    height: 3rem;
    width: 6rem;
    padding: .4rem;
    margin-left: 16rem;
}

.fa-shopping-cart{
    font-size: 2rem;
    height: 3rem;
    width: 6rem;
    color: #ececed;
    padding: .3rem;
    margin-left: 24rem;
    margin-right: 1rem;
}

.nav_links li a{
    color: #ececed;
    font-size: .8rem;
    width: 5rem;
    text-decoration: none;
}

.nav_links li a{
    color: #ececed;
    font-size: .8rem;
    width: 5rem;
}

.second-nav{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    height: 2.8rem;
    width: 100%;
    background-color: #24303e;
    flex-direction: row;
    position: relative;
}

.second-nav ul li{
    padding: .2rem;
}

.second-nav ul li a{
    color: #ececed;
    font-size: .8rem;
    height: 2rem;
    text-decoration: none;
}

.fa-map-marker{
    color: #ececed;
    margin-left: .5rem;
    font-size: 2rem;
    padding: .2rem;
    height: 2.8rem;
    width: 6rem;
}

.icon-text{
    list-style: none;
    display: inline;
    position: absolute;
    margin: .5rem;
}

.second-nav ul li{
    list-style: none;
    display: inline;
    position: absolute;
    margin: .5rem;
}

.nav2-general1{
    left: 15rem;
}

.nav2-general2{
    left: 21rem;
}

.nav2-general3{
    left: 29rem;
}

.nav2-message{
    list-style: none;
    display: inline;
    position: absolute;
    margin: .5rem;
    left: 62rem;
    font-weight: bold;
    /*border: solid 1px #999999;*/
}

.third-container{
    height: 3rem;
    background-color: #d8f7eb;
}

.third-container p{
    font-size: .8rem;
    padding: 1rem;
    text-align: left;
    text-indent: .5rem;
    font-weight: bold;
    font-weight: bold;
}

.learn-more{
    color: #1f71c3;
}

/*-------main hero slider: ***DESKTOP****----------*/
main{
    position: relative;
}

#slider {
    overflow: hidden;
  }
  /* the overflow is clipped, and the rest of the content is hidden. Hidden so it stays within the page*/
  
  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 25s slider infinite;
  }
  
  #slider figure img {
    width: 20%;
    float: left;
  }
  
  @keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }

/*-------products gallery: ***DESKTOP****----------*/

#grid-wrap{
    position: absolute;
    top: 32vh;
    padding: .5%
}

#grid-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  #grid-flex .grid-item {
    display: -ms-flexbox;
    -ms-flexbox-wrap: wrap;
    -ms-flexbox-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
    background: #fff;
    justify-content: space-around;
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1%;
    height: 60vh;
    overflow: hidden;
  }

  #grid-flex li img{
      width: 90%;
  }

  #grid-flex li h2{
    display: flex;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: .4rem;
    line-height: .8rem;
    font-size: 1.2rem;
    padding-bottom: 0;
    font-weight: bold;
    text-align: left;
    width: 90%;
}

#grid-flex li p{
    color: #1f71c3;
    font-weight: bold;
    font-size: .8rem;
    padding-top: .5rem;
    text-align: left;
    width: 90%;
}

#grid-flex .sign-in-text{
    font-size: 1.5rem;
    line-height: 1.8rem;
    height: 8vh;
    margin-bottom: 0;
}

#grid-flex .sign-in-container{
    /*border: solid 1px yellowgreen;*/
    height: 6vh;
    width: 90%;
    margin-top: -20vh;
}

#grid-flex .sign-in-button{
    background: linear-gradient(to bottom, #f9e8bc 0%, #f1c350 100%);
    border: solid 1px #b59542;
    border-radius: 4px;
    padding: 0 10vh 0 11vh;
    text-align: center;
    font-size: .8;
    line-height: 29px;
    width: 100%;

}

/*---------------------****TABLETS*****-----------------------*/

@media only screen and (max-width: 420px){
    body{
        background-color: aquamarine;
    }


}